body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 60px;
}

section {
  width: 80%;
  margin: auto;
  padding: 25px 0;
}

section h2 {
  border-bottom: 3px solid black;
  display: inline-block;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}
